In [1]:
import pandas as pd

In [25]:
df = pd.read_csv('leaf_samples.csv')
df

,plot,tree,latitude,longitude,date,cas,black scale,predation,parasitism,notes
0,4,39,NaN,NaN,2022-02-26,no,yes,no,no,NaN
1,13,436,NaN,NaN,2022-02-26,yes,no,no,no,NaN
2,15,685,NaN,NaN,2022-02-26,yes,no,no,no,NaN
3,16,503,NaN,NaN,2022-02-26,yes,no,no,no,NaN
4,17,439,NaN,NaN,2022-02-26,yes,no,no,no,NaN
5,14,472,NaN,NaN,2022-02-26,yes,no,no,no,NaN
6,18,464,NaN,NaN,2022-02-26,yes,no,no,no,NaN
7,12,458,NaN,NaN,2022-02-26,yes,no,no,no,NaN
8,6,373,NaN,NaN,2022-02-26,yes,no,no,no,NaN
9,8,421,NaN,NaN,2022-02-26,yes,no,no,no,sent to SEL
10,19,469,NaN,NaN,2022-02-26,yes,no,no,no,sent to SEL
11,5,382,NaN,NaN,2022-02-26,no,yes,no,no,sent to SEL

In [33]:
print(
    df.to_latex(
        index=False,na_rep='',
        caption='caption',
        label='leaf_samples_table'
    )
)

\begin{table}
\centering
\caption{caption}
\label{leaf_samples_table}
\begin{tabular}{rrrrllllll}
\toprule
 plot &  tree &  latitude &  longitude &       date & cas & black scale & predation & parasitism &       notes \\
\midrule
    4 &    39 &           &            & 2022-02-26 &  no &         yes &        no &         no &             \\
   13 &   436 &           &            & 2022-02-26 & yes &          no &        no &         no &             \\
   15 &   685 &           &            & 2022-02-26 & yes &          no &        no &         no &             \\
   16 &   503 &           &            & 2022-02-26 & yes &          no &        no &         no &             \\
   17 &   439 &           &            & 2022-02-26 & yes &          no &        no &         no &             \\
   14 &   472 &           &            & 2022-02-26 & yes &          no &        no &         no &             \\
   18 &   464 &           &            & 2022-02-26 & yes &          no &        no &         no &             \\
   12 &   458 &           &            & 2022-02-26 & yes &          no &        no &         no &             \\
    6 &   373 &           &            & 2022-02-26 & yes &          no &        no &         no &             \\
    8 &   421 &           &            & 2022-02-26 & yes &          no &        no &         no & sent to SEL \\
   19 &   469 &           &            & 2022-02-26 & yes &          no &        no &         no & sent to SEL \\
    5 &   382 &           &            & 2022-02-26 &  no &         yes &        no &         no & sent to SEL \\
\bottomrule
\end{tabular}
\end{table}

<ipython-input-33-f413f8e7ba65>:2: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  df.to_latex(